* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #333;
}

input,
textarea {
  outline: none;
  border: 1px solid #999;
  text-indent: 10px;
}

input::placeholder,
textarea::placeholder {
  color: palevioletred;
}

label {
  cursor: pointer;
}

.msw-container {
  width: 100%;
  //width: 100vw;
  //height: 100vh;
  //background-color: #eee;
  text-align: left;
  //padding: 15px;
}

.msw-show {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9999;
  padding: 5px 15px;
  background-color: #07c160;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  cursor: pointer;
}

.msw-mask {
  //width: 100%;
  //height: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 8888;
  background-color: rgba(0, 0, 0, 0.6);
}

.msw-box {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 70vh;
  padding: 15px;
  background-color: #fff;
  //background-color: #f7f7f7;
}

.msw-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 20px;
  font-weight: 400;
}

.msw-close {
  color: #333;
  cursor: pointer;
}

.msw-tabs-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.msw-tabs-inner {
  display: flex;
  //margin: 15px 0;
}

.msw-tabs-handle {
}

.msw-reset {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  //border: 1px solid #ddd;
  margin-left: 30px;
  background-color: #67c23a;
  color: #fff;
  border-radius: 3px;
}

.msw-reset:hover {
  background-color: #85ce61;
}

.msw-tabs-item {
  padding: 5px 10px;
  cursor: pointer;
  transition: all linear 200ms;
}

.msw-handle-clear {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  //border: 1px solid #ddd;
  //margin-left: 30px;
  background-color: #e6a23c;
  color: #fff;
  border-radius: 3px;
}

.msw-handle-clear:hover {
  background-color: #ebb563;
}

.msw-tabs-item.active {
  background-color: pink;
}

.msw-handle-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.msw-handle-input {
  line-height: 30px;
}

.msw-config {
  display: flex;
  align-items: center;
}

.msw-method {
  width: 100px;
  height: 30px;
}

.msw-config-input {
  width: 200px;
  height: 30px;
  border: 1px solid #999;
  border-left: none;
  text-indent: 10px;
}

.msw-config-add {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  //border: 1px solid #ddd;
  margin-left: 30px;
  background-color: #5787ff;
  color: #fff;
  border-radius: 3px;
}

.msw-config-add:hover {
  background-color: #5787ffe8;
}

.msw-config-data {
  min-width: 80%;
  max-width: 100%;
  max-height: 300px;
  margin-top: 15px;
  padding: 10px;
  text-indent: 0px;
}

.table-list {
  height: calc(70vh - 130px);
  //min-height: 300px;
  //max-height: 50vh;
  overflow-y: auto;
}

.msw-list {
  width: 100%;
  border-color: #ddd;
  border-collapse: collapse;
}

.msw-list th {
  background-color: #f0f9eb;
}

.msw-list th:nth-child(1) {
  width: 55px;
}
.msw-list th:nth-child(2) {
  width: 68px;
}
.msw-list th:nth-child(4) {
  width: 72px;
}
.msw-list th:nth-child(6),
.msw-list th:nth-child(7),
.msw-list th:nth-child(8) {
  width: 80px;
}

.msw-list th,
.msw-list td {
  padding: 5px;
}

.msw-list-del {
  color: #409eff;
}

.msw-handle-li-global {
  color: #409eff;
}
